@inject IJSRuntime _JSRuntime
@inject IUserService _userService
<div class="d-flex justify-content-center">
    <div class="col-lg-10 align-items-center text-center ">
        <div class="form-custom-border p-3">
            @if (questionary != null && questionary.Count > 0)
            {
                <form method="post" @onsubmit="SubmitAnswers">
                    <ol>
                        @foreach (var question in questionary)
                        {
                            <li class="mb-5 ms-5 text-start col-12">
                                <div>
                                    <h4 class="form-check-label">@question.Name</h4>
                                </div>
                                <div class="d-flex align-items-top flex-wrap">
                                    @foreach(var answer in question.Answers)
                                    {
                                        var image = answer.Photo != null ? $"data:image/png;base64,{Convert.ToBase64String(answer.Photo)}" : null;
                                        <div class="row m-3 col-4">
                                            <div class="row">
                                                <input type="radio" required class="col-1 mb-2" style="max-height:30px" name="@question.Name" value="@answer.IsSelected"
                                                    @onchange="() => UpdateSelection(question, answer)" />
                                                <h5 class="col-5 green-blue-text" >@answer.Text</h5>
                                            </div>
                                            @if (image != null)
                                            {
                                                <div class=" image-row-container">
                                                    <img src="@image" class="pb-2 col-4 fixed-image ms-0" alt="Answer image" style="max-width: 200px;" />
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </li>
                        }
                    </ol>
                    <button type="submit" class="btn btn-func btn-success p-2">Next <i class="bi bi-arrow-right-circle"></i></button>
                </form>
            }
            else
            {
                <h4>No questionary for this service</h4>
                <button type="submit" class="btn btn-success" @onclick="SubmitAnswers">Next</button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int serviceId { get; set; }
    public List<GetQuestionDto> questionary { get; set; }
    [Parameter]
    public EventCallback ToNextStep { get; set; }
    [Parameter]
    public EventCallback<QuestionaryAnalisysDto> OnAnalisysChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || questionary == null)
        {
            var res = await _userService.GetServiceQuestionary(serviceId);
            if (res.IsSuccess)
            {
                questionary = res.Data;
            }
            StateHasChanged();
        }
    }

    private async Task SubmitAnswers()
    {
        questionary.ForEach(q => q.Answers.RemoveAll(a => !a.IsSelected));
        var mappedData = MapQuestionary();
        if(mappedData != null)
        {
            var res = await _userService.AnalizeQuestionary(mappedData, serviceId);
            if (res.IsSuccess)
            {
                if (OnAnalisysChanged.HasDelegate)
                {
                    await OnAnalisysChanged.InvokeAsync(res.Data);
                }
                await ToNextPage();
            }
        }
    }


    private void UpdateSelection(GetQuestionDto question, GetAnswerDto selectedAnswer)
    {
        foreach (var answer in question.Answers)
        {
            answer.IsSelected = false;
        }

        selectedAnswer.IsSelected = true;
        StateHasChanged();
    }

    private async Task ToNextPage()
    {
        if (ToNextStep.HasDelegate)
        {
            await ToNextStep.InvokeAsync();
        }
    }

    private List<QuestionDto> MapQuestionary()
    {
        var res = new List<QuestionDto>();
        foreach(var question in questionary)
        {
            var dto = new QuestionDto
                {
                    Name = question.Name,
                    HasAnswerWithFixedTime = question.HasAnswerWithFixedTime
                };
            if(question.Answers.Count == 1)
            {
                dto.Answer = MapAnswer(question.Answers[0]);
                res.Add(dto);
            }
        }
        return res;
    }

    private AnswerDto MapAnswer(GetAnswerDto answer)
    {
        return new AnswerDto
            {
                Text = answer.Text,
                Time = answer.Time,
                IsTimeFixed = answer.IsTimeFixed,
                IsTimeMaximum = answer.IsTimeMaximum,
                IsTimeMinimum = answer.IsTimeMinimum
            };
    }

    
}

<style>
    ::marker {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .fixed-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-row-container {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
        background: none;
    }
</style>
