@inject IStringLocalizer<ServiceDescr> Localizer


<EditForm Model="serviceDto" OnValidSubmit="FinishCreation">
    <DataAnnotationsValidator />
    

    <div class=" m-4 align-content-center text-center">
        <div class="col-12 mb-2 ms-3">
            <div class="m-2 p-2">
                <h4>@Localizer["Name"]</h4>
                <InputText @bind-Value="serviceDto.Name"
                           class="input-text-style col-12"></InputText>
                <ValidationMessage For="@(() => serviceDto.Name)" class="text-danger" />
            </div>
            <div class="m-2 p-2">
                <h4>@Localizer["Description"]</h4>
                <InputTextArea @bind-Value="serviceDto.Description"
                               class="input-textarea-style col-12"></InputTextArea>
                <ValidationMessage For="@(() => serviceDto.Description)" class="text-danger" />

            </div>
        </div>

        <div class="row col-12 justify-content-around  text-center">
            <div class="col-4 m-1">
                <h4>@Localizer["Minimum Price"], UAN</h4>
                <InputNumber @bind-Value="@serviceDto.MinimumPrice" class="input-text-style col-7"></InputNumber>
                <ValidationMessage For="@(() => serviceDto.MinimumPrice)" class="text-danger" />
            </div>
            <div class="col-4 m-1">
                <h4>@Localizer["Maximum Price"], UAN</h4>
                <InputNumber @bind-Value="@serviceDto.MaximumPrice" class="input-text-style col-7"></InputNumber>
                <ValidationMessage For="@(() => serviceDto.MaximumPrice)" class="text-danger" />
            </div>
        </div>

        <div class="row col-12 mt-3 justify-content-around text-center">
            <div class="col-3 m-1">
                <h4>@Localizer["Time, min"]</h4>
                <InputNumber @bind-Value="@serviceDto.RealTime" class="input-text-style col-7"></InputNumber>
                <ValidationMessage For="@(() => serviceDto.RealTime)" class="text-danger" />
            </div>
            <div class="col-3 m-1">
                <h4>@Localizer["Minimum Time"], @Localizer["min"]</h4>
                <InputNumber @bind-Value="@serviceDto.MinimumTime" class="input-text-style col-7"></InputNumber>
                <ValidationMessage For="@(() => serviceDto.MinimumTime)" class="text-danger" />
            </div>
            <div class="col-3 m-1">
                <h4>@Localizer["Maximum Time"], @Localizer["min"]</h4>
                <InputNumber @bind-Value="@serviceDto.MaximumTime" class="input-text-style col-7"></InputNumber>
                <ValidationMessage For="@(() => serviceDto.MaximumTime)" class="text-danger" />
            </div>
        </div>

        <button type="submit" class="btn col-2 btn-func btn-success mt-5" style="font-size: 1.5em">@Localizer["Save"]</button>
            
    </div>
</EditForm>

@code {
    [Parameter]
    public AddServiceDto serviceDto { get; set; }


    [Parameter]
    public EventCallback OnFinishCreation { get; set; }

    private async Task FinishCreation()
    {
        if (OnFinishCreation.HasDelegate)
        {
            await OnFinishCreation.InvokeAsync();
        }
    }


}
