@page "/"
@using WebPetCare.Resources
@inject NavigationManager Navigation
@inject IStringLocalizer<WebPetCare.Resources.Authorization> Localizer


<PageTitle>Home</PageTitle>

<div>
    <div class="row mt-lg-5 offset-lg-1">
            <div class="offset-lg-1 ms-5 mt-5 p-3  col-xl-6 col-10">
                <div>
                    <h1 class="mb-3">@Localizer["HomeTitle"]</h1>
                    <h5>
                    &emsp;@Localizer["Description"]

                        <br>&emsp;✅ @Localizer["SearchBook"]
                        <br>&emsp;⭐ @Localizer["Verified Experts"]
                        <br>&emsp;📅 @Localizer["Scheduling"]

                    <br> @Localizer["GiveBest"]
                    </h5>
                </div>
                <div class="row col-lg-8 mt-4 col-12">
                    <button class="col-10 col-lg-5 col-md-5 me-1 me-lg-2 me-xl-2 p-2 btn btn-primary" @onclick="GoToLogin">@Localizer["Login/Sign Up"]</button>
                <button class="col-10 col-lg-5 col-md-5 me-1 me-lg-2 me-xl-2 p-2 btn btn-outline-primary" @onclick="GoToSearch">@Localizer["Search"]</button>
                </div>
            </div>
        <div class="col-lg-5 mt-3 col-xl-5 col-10">
            <img src="https://png.pngtree.com/png-vector/20230808/ourmid/pngtree-pet-vector-png-image_6876031.png" style="width: 100%;  object-fit: cover;" />
            </div>
    </div>

</div>


@code{


    public void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    public void GoToSearch()
    {
        Navigation.NavigateTo("/search");

    }
}
