@inject IUserService userService
@inject IJSRuntime _JSRuntime
@inject IStringLocalizer<Account> Localizer

<div class="d-flex justify-content-center">
    <div class="col-lg-10 align-items-center text-center ">
        <div class="form-custom-border p-3 ">
            @if (!IsEdit)
            {
                <div class="row text-center ">
                    <h3 class="col-8 offset-2"><b>@Localizer["About me"]</b></h3>
                    <button class="btn col-2 btn-func btn-warning p-0" @onclick="OnButtonClick"><i class="bi bi-pencil-fill"></i>   @Localizer["Edit"]</button>
                </div>
            }

            <form method="post" @onsubmit="UpdateMasterData">
                @if (IsEdit)
                {
                    <div class="row text-center">
                        <h3 class="col-6 offset-3"><b>@Localizer["About me"]</b></h3>
                        <button type="button" class="btn col-2 mx-1 btn-func btn-danger" @onclick="CancelEdit">@Localizer["Cancel"]</button>
                        <button type="submit" class="btn col-2 btn-func btn-success">@Localizer["Save"]</button>
                    </div>
                }

                <hr />

                <div class="text-start">
                    @if (masterData != null)
                    {
                        if (String.IsNullOrEmpty(UploadedImage))
                        {
                            UploadedImage = $"data:image/jpeg;base64,{Convert.ToBase64String(masterData.Photo ?? [])}";

                        }
                        <div class="row col-lg-12 m-3">
                            <div class="col-3 text-center">
                                <h4>@Localizer["Profile photo"]</h4>
                                <label class="image-upload pb-4">
                                    <InputFile accept="image/*" OnChange="@HandleFileSelected" disabled="@(!IsEdit)" />
                                    <div class="image-container">
                                        <img id="profile image" src="@UploadedImage" alt="@Localizer["No image available"]">
                                        @if (IsEdit)
                                        {
                                            <div class="placeholder">
                                                <span class="plus"><i class="bi bi-plus-square-dotted"></i></span>
                                            </div>
                                        }
                                    </div>
                                </label>



                            </div>
                            <div class="col-9">
                                <div>
                                    <div class="row ms-3 text-center justify-content-around">
                                        <div class="offset-1 col-5">
                                            <h4>@Localizer["Last Name"]</h4>
                                            <InputText @bind-Value="masterData.LastName" placeholder="@Localizer["Last Name"]"
                                                       class="input-text-style col-12" disabled="@(!IsEdit)" />
                                        </div>

                                        <div class="col-5">
                                            <h4>@Localizer["First Name"]</h4>
                                            <InputText @bind-Value="masterData.FirstName" placeholder="@Localizer["First Name"]"
                                                       class="input-text-style col-12" disabled="@(!IsEdit)" />
                                        </div>
                                    </div>

                                    <div class="ms-5 text-center mt-3 mb-3">
                                        <h4>@Localizer["Location"]</h4>
                                        <div class="row">
                                            <h4 class="offset-1 col-@(IsEdit ? "9" : "10") text-center" 
                                            style="color: var(--bs-green-blue);">
                                                @(!String.IsNullOrEmpty(masterData.Contacts.Address) ? masterData.Contacts.City + ", "
                                                    + masterData.Contacts.Address : "–")
                                            </h4>
                                            @if (IsEdit)
                                            {
                                                <button type="button" class="col-1 btn btn-func btn-success" @onclick="OpenModal"><i class="bi bi-pencil-fill"></i></button>
                                            }
                                        </div>
                                    </div>
                                    @if (IsModalOpen)
                                    {
                                        <SfDialog Target="#target" Width="50%" ShowCloseIcon="true" @bind-Visible="IsModalOpen" AllowPrerender="true" IsModal="true">
                                            <DialogTemplates>
                                                
                                                <Content>
                                                    <div class="text-center">
                                                        <h2>@Localizer["Edit location"]</h2>
                                                        <_EditLocation Contacts="@masterData.Contacts"
                                                                       CloseAndSubmit="CloseModal">
                                                        </_EditLocation>
                                                    </div>
                                                </Content>
                                            </DialogTemplates>
                                        </SfDialog>
                                       
                                    }
                                    <div class="row ms-3 text-center justify-content-around">
                                        <div class="offset-1 col-5">
                                            <h4>@Localizer["Phone"]</h4>
                                            <InputText @bind-Value="masterData.Contacts.Phone"
                                                       placeholder="@(String.IsNullOrEmpty(masterData.Contacts.Phone) && !IsEdit ? "–" : masterData.Contacts.Phone)"
                                                       class="input-text-style col-12" disabled="@(!IsEdit)" />
                                        </div>

                                        <div class="col-5">
                                            <h4>@Localizer["Email"]</h4>
                                            <InputTextArea @bind-Value="masterData.Email"
                                                       placeholder="Email" 
                                                       class="input-text-style text-center" style="word-wrap:break-word; max-height: 100px;" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                   
                    }
                    else
                    {
                        <h3>@Localizer["There is no data to display"]</h3>
                    }
        </div>
        </form>
    </div>
</div>
</div>


@code {
    [Parameter]
    public GetGeneralMasterDto masterData { get; set; } = new GetGeneralMasterDto();
    private GetGeneralMasterDto initialMasterData { get; set; } = new GetGeneralMasterDto();
    public bool IsEdit = false;
    private bool IsModalOpen = false;
    private IBrowserFile SelectedFile;
    private string? UploadedImage;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        SelectedFile = e.File;

        using var stream = new MemoryStream();
        await SelectedFile.OpenReadStream(long.MaxValue).CopyToAsync(stream);
        UploadedImage = $"data:{SelectedFile.ContentType};base64,{Convert.ToBase64String(stream.ToArray())}";
        StateHasChanged();
    }

    private void OnButtonClick()
    {
        IsEdit = !IsEdit;
        UploadedImage = $"data:image/jpeg;base64,{Convert.ToBase64String(masterData.Photo ?? [])}";
        FillInitialData();
    }


    private void CancelEdit()
    {
        masterData.FirstName = initialMasterData.FirstName;
        masterData.LastName = initialMasterData.LastName;
        masterData.Contacts = initialMasterData.Contacts;
        masterData.Photo = initialMasterData.Photo;
        OnButtonClick();
    }

    private async void UpdateMasterData()
    {
        if (SelectedFile != null)
        {
            using var stream = new MemoryStream();
            await SelectedFile.OpenReadStream(long.MaxValue).CopyToAsync(stream);

            masterData.Photo = stream.ToArray();
        }
        var res = await userService.UpdateGeneralMasterData(masterData);
        if (String.IsNullOrEmpty(res))
        {
            //await _JSRuntime.InvokeVoidAsync("showToastr", "success", "Data updated and saved successfully!");
            await _JSRuntime.InvokeVoidAsync("toastrInterop.showSuccess", Localizer["Data updated and saved successfully!"], "Success");
            OnButtonClick();
            StateHasChanged();
        }
        else
        {
            await _JSRuntime.InvokeVoidAsync("toastrInterop.showError", res, "Error");

        }
    }

    private void FillInitialData()
    {
        initialMasterData = new GetGeneralMasterDto(masterData);
        initialMasterData.Contacts = new ContactsDto(masterData.Contacts);
    }

    private void OpenModal()
    {
        IsModalOpen = true;
    }

    private void CloseModal()
    {
        IsModalOpen = false;
        Console.WriteLine(masterData);
        StateHasChanged();
    }
    private void AddLocation(MouseEventArgs e)
    {

    }
}

<style>
    .image-upload {
        display: inline-block;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

        .image-upload input {
            display: none;
        }

    .image-container {
        width: 100%;
        height: 330px;
        background: #ddd;
        border-radius: 12px;
        background-color: rgba(240,240,240,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block; 
        }

    .placeholder {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.05);
    }

    .plus {
        font-size: 40px;
        font-weight: bold;
        color: #777;
    }

    .pac-container {
        z-index: 9999 !important;
    }

    .e-dialog {
        z-index:1000 !important;
    }

    .e-dlg-overlay {
        background-color: slategray;
        opacity: 0.6;
        z-index: 300 !important;
    }
</style>
