@page "/account"
@using WebPetCare.IServices
@using WebPetCare.Components.Pages.Organization
@inject IUserService userService
@inject IOrganizationService orgService
@inject IJSRuntime _JSRuntime
@inject NavigationManager Navigation

<PageTitle>Account</PageTitle>

<div class="container align-items-center">
    @if (role == "Master")
    {

        <div class="col-1"></div>
        <div class="row col-8 offset-3 mb-3">
            <button class="btn col-lg-3 mb-3 me-3 btn-nav@(options == menuOptions.General ? "-active" : "")" @onclick="() => ChangePage(menuOptions.General)">General</button>
            <button class="btn col-lg-3 mb-3 me-3 btn-nav@(options == menuOptions.Calendar ? "-active" : "")" @onclick="() => ChangePage(menuOptions.Calendar)">Calendar</button>
            <button class="btn col-lg-3 mb-3 me-3 btn-nav@(options == menuOptions.Services ? "-active" : "")" @onclick="() => ChangePage(menuOptions.Services)">My services</button>
            <button class="btn col-lg-3 mb-3 me-3 btn-nav@(options == menuOptions.Reviews ? "-active" : "")" @onclick="() => ChangePage(menuOptions.Reviews)">Reviews</button>
            <button class="btn col-lg-3 mb-3 me-3 btn-nav@(options == menuOptions.Portfolio ? "-active" : "")" @onclick="() => ChangePage(menuOptions.Portfolio)">Portfolio</button>
            <button class="btn col-lg-3 mb-3 me-3 btn-nav@(options == menuOptions.Requests ? "-active" : "")" @onclick="() => ChangePage(menuOptions.Requests)">My requests</button>
        </div>

        @switch (options)
        {
            case menuOptions.Calendar:
                <Calendar></Calendar>
                break;
            case menuOptions.Portfolio:
                <Portfolio></Portfolio>
                break;
            case menuOptions.Services:
                <_AllMasterServices></_AllMasterServices>
                break;

            case menuOptions.Reviews:
                <_MasterServiceReviews masterId="" serviceId="@(null)"></_MasterServiceReviews>
                break;

            case menuOptions.General:
                <_GeneralAccount masterData="masterData"></_GeneralAccount>
                <_MyServicesGeneral services="@masterData.Services"></_MyServicesGeneral>
                <_PetsList Pets="@masterData.Pets"></_PetsList>
                <_UserRecords></_UserRecords>
                break;
            case menuOptions.Requests:
                <_RequestsPage role="@role"></_RequestsPage>
                break;
        }

    }
    else if (role == "User")
    {
        <_GeneralAccount masterData="masterData"></_GeneralAccount>
        <_PetsList Pets="@masterData.Pets"></_PetsList>
        <_UserRecords></_UserRecords>
    }else if(role == "Organization")
    {
        <div class="row col-9 offset-2 mb-3 ">
            <button class="btn col-lg-2 me-3  btn-nav@(orgOptions == organizationOptions.General ? "-active" : "")" @onclick="() => ChangeOrgPage(organizationOptions.General)">General</button>
            <button class="btn col-lg-2 me-3 btn-nav@(orgOptions == organizationOptions.Requests ? "-active" : "")" @onclick="() => ChangeOrgPage(organizationOptions.Requests)">Requests</button>
            <button class="btn col-lg-2 me-3 btn-nav@(orgOptions == organizationOptions.Services ? "-active" : "")" @onclick="() => ChangeOrgPage(organizationOptions.Services)">Services</button>
            <button class="btn col-lg-2 me-3 btn-nav@(orgOptions == organizationOptions.Calendar ? "-active" : "")" @onclick="() => ChangeOrgPage(organizationOptions.Calendar)">Calendar</button>
            <button class="btn col-lg-2 me-3 btn-nav@(orgOptions == organizationOptions.Portfolio ? "-active" : "")" @onclick="() => ChangeOrgPage(organizationOptions.Portfolio)">Portfolio</button>

        </div>
        @switch (orgOptions)
        {
            case organizationOptions.Calendar:
                <Calendar></Calendar>
                break;
            case organizationOptions.Portfolio:
                
                break;
            case organizationOptions.Services:
                
                break;

            case organizationOptions.Requests:
                 <_RequestsPage role="@role"></_RequestsPage>
                break;

            case organizationOptions.General:
                <_OrganizationData orgInfo="@organizationInfo"></_OrganizationData>
                <_GeneralAccount masterData="masterData"></_GeneralAccount>
                break;
        }
        
    }

    
</div>


@code {
    public GetGeneralMasterDto masterData { get; set; } = new GetGeneralMasterDto();
    private string? role = "";

    public string Error { get; set; } = "";
    private menuOptions options = menuOptions.General;
    public OrganizationInfo organizationInfo { get; set; } = new OrganizationInfo();
    private organizationOptions orgOptions = organizationOptions.General;
    public enum menuOptions
    {
        General, Calendar, Services, Reviews, Portfolio, Requests
    }
    public enum organizationOptions
    {
        General, Requests, Calendar, Services, Portfolio
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            var res = await userService.getGeneralMasterData();
            if (res.IsSuccess)
            {
                masterData = res.Data;
            }
            else
            {
                Error = res.ErrorMessage;
            }
            role = await userService.GetCurrentUserRole();
            if (String.IsNullOrEmpty(role))
            {
                Navigation.NavigateTo("/login");
            }
            if(role == "Organization")
            {
                var data = await orgService.GetOrganizationInfo();
                if (data.IsSuccess)
                {
                    organizationInfo = data.Data;
                }
                else
                {
                    showToastr(data.ErrorMessage);
                }
            }
            StateHasChanged();
        }
    }

    public void ChangePage(menuOptions option)
    {
        options = option;
        StateHasChanged();
    }

    public void ChangeOrgPage(organizationOptions option)
    {
        orgOptions = option;
        StateHasChanged();
    }

    private async void showToastr(string res, string successMessage = "")
    {
        if (String.IsNullOrEmpty(res))
        {
            await _JSRuntime.InvokeVoidAsync("toastrInterop.showSuccess", successMessage, "Success");
        }
        else
        {
            await _JSRuntime.InvokeVoidAsync("toastrInterop.showError", res, "Error");
        }
    }
}
